@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}
.Banner {
  width: 100%;
}

.Section3 {
  width: 100%;
  height: 840px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.Section3-container,
.Section3-Row {
  margin: 0 auto;
}

.Section3-Col1 {
  width: 40%;
}
.Section3-Col2 {
  width: 60%;
}
.Section3-Image {
  max-width: 100%;
  height: 550px;
  border-radius: 30px;
  align-items: flex-start;
  display: block;
  background-size: cover;
}
.Section3-card
{
  max-width: 100%;
  height: 450px;
  margin: 0 auto;
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3.5px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
.Section3-cardbody {
  margin-top: 100px;
  text-align: left;
  margin-left: 50px;
}
.Section3 h1 strong {
  font-size: 4.4rem;
  color: #263d5a;
}
.Section3 p {
  margin-top: 20px;
  color: #263d5a;
}

/* Media query */

@media screen and (max-width: 1024px) {
  .Section3-cardbody {
    margin-top: 50px;
  }
  .Section5text-container2 {
    margin-left: 20px;
  }
}
@media screen and (max-width: 995px) {
  .Section3-Row,
  .Section3-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    margin-left:-10px;
  }
  .Section3 {
    height: 1400px;
  }
  .Section3-Col1,
  .Section3-Col2,
  .Section3card-Col1,
  .Section3card-Col2 {
    min-width: 100%;
  }
  .Section3-Col2{
    margin-top: 20px;
  }
  .Section3-Image,
  .Section3-card {
    min-width: 100%;
    margin: 0 auto;
    margin-left: 0px;
  }
  .Section3-Image {
    height: 800px;
  }
}
@media  screen and (max-width:768px) {
  .Section3-Col1,.Section3-Col2
  {
    margin-left:3px;
    min-width: 100%;

  }
}
@media screen and (max-width: 620px) {
 
 
  .Section3-cardbody {
    margin-top: 20px;
    margin-left: 0;
    text-align: center;
  }
  .Section3 h1 strong {
    font-size: 3rem;
  }
  .Section3 p {
    text-align-last: center;
    text-align: justify;
  }
}
@media screen and (max-width: 430px) {
  .Section3 {
    height: 1200px;
  }
  .Section3-Image {
    height: 550px;
  }
  .Section3-card,.Section3-Image
  {
    min-width: 100%;
  }

  .Section3-cardbody {
    margin-top: 0px;
  }
  .Section3 h1 strong {
    font-size: 1.5rem;
  }
  .Section3 p {
    font-size: 16px;
  }
}
@media screen and (max-width: 375px) {
  .Section3 p {
    margin-top: 10px;
  }
  .Section3-container {
    max-width: 100%;
  }
  .Section3-card {
    max-width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .Section3 p {
    font-size: 14px;
  }
}
