
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
  }
  .Section4 {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    width: 100%;
    display: block;
  }
  .Section4 h1 strong
 {
  font-weight: bold;
  font-size: 4rem;
  margin-top: 20px;
 }
  .Section4 h2 strong
  {
   font-size: 1.7rem;
  }
  
  .Section4card-button {
    padding: 10px 20px;
    border-radius: 30px;
    margin-left: 0px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    font-style: normal;
    background-color: #a148ff;
    background: linear-gradient(90deg, #a148ff 0%, #ff6f45 100%);
  }
  .Section4button-container:hover {
    transform: translateY(-3px);
    transition: all 0.3s;
    border-color: #0a53be;
  }
 
  .Section4text-container
  {
    text-align: center;
    color: #263d5a;
  }
 
  @media screen and (max-width:995px)
  {
    .Section4-img
    {
        height: 600px;
    }
  }