@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}
.Section4
{
  background-size:cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.3);
}

.testimonial-carousel {
  max-width: 86%;
  margin: auto;
  margin-top:10%;
  margin-bottom: 10%;
}

.row {
  display: flex;
  text-align: center;
}

.col {
  flex: 1;
}

.card {
  width:100%;
  margin:20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.6);
  color: #263d5a;
  border: none;
  border-radius: 30px;
}
.text1
{
  font-size: 1.3rem;
  color: #263d5a;
}
.text2
{
  color: #263d5a;
  padding: 10px;
}
.Section4card-title
{
  font-size: 4.4rem;
  line-height: 1.1;
}
.Section4card-subtitle
{
  font-size: 1.8rem;
  line-height: 1.5;
}
.card.active {
  background-color:white; 
}
.Section4-button
{
  background-color: #a148ff;
  background: linear-gradient(90deg, #a148ff 0%, #ff6f45 100%);
  padding: 1rem 1rem;
  width: 40%;
  border-radius: 30px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  font-style: normal;
  margin-bottom: 20px;
}
.Section4-button:hover{
  transform: translateY(-3px);
  transition: all 0.3s;
  border-color: #0a53be;
}
.Section4-button:focus {
  outline: 2px solid blue; 
}

.carousel-indicator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.indicator {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  border-radius: 50%;
  background-color:white;
  cursor: pointer;
}

.indicator.active {
  background: linear-gradient(90deg, #a148ff 0%, #ff6f45 100%);
}

/* Media Query */

@media screen and (max-width:768px){
  .card
  {
    margin-left: -10px;
    width: 104%;
  }
  
}
@media screen and (max-width:550px){
  .card,.col
  {
    min-width:100%;
  }
}